<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>help</title>
</head>
<style>
    .fail {
        height: 100px;
        background-color: #F2A83B;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding-top: 30px;
        padding-left: 30px;
        /* 지정한 크기 고정 */
        box-sizing: border-box;
    }
</style>
<body>
    <div class="fail">
        다시 확인해주세요.
    </div>
</body>
</html>